@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf);
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d4d2b6;
}

header {
    background-image: linear-gradient(to top, #025940, #03A64A);
    background-attachment: local;
    color: white;
    margin: -10px;
    padding: 10px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 3px 5px 14px 2px rgba(0, 0, 0, 0.274);
}

header > h1 {
    text-align: center;
}

header > p {
    text-align: center;
}

a {
    text-decoration: none;
    color: lightgray;
    text-align: end;
    margin: 10px;
}

.gogo:hover {
    background-color: rgba(169, 169, 169, 0.39);
    padding: 10px;
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav {
    margin: 30px 0px 0px 0px;
}

main {
    background-color: white;
    margin: 10px auto;
    padding: 30px;
    text-align: center;
    box-shadow: 3px 5px 14px 2px rgba(0, 0, 0, 0.267);
    max-width: 1000px;
    min-width: 300px;
}

main p {
    text-indent: 30px;
    line-height: 2em;
}

img {
    width: 100%;
}

#cock1 {
    font-family: "idroid";
    color: #027232;
    text-align: left;
}

#cock2 {
    font-family: "idroid";
    color: #027232;
    text-align: left;
    background-image: linear-gradient(to right, #03a64a6c, #02594017);
}

.texto {
    text-align: left;
    text-align: justify;
}

div.video {
    background-color: #025940;
    padding: 20px;
    margin: 0px -30px 30px -30px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.cockballs {
    color: #027232;
    font-weight: bold;
}

.cockballs2 {
    color: #027232;
    font-weight: bold;
    background-color: #0272336e;
    margin: 0px;
    transition-duration: 0.5s;
}

.cockballs2:hover {
    background-color: rgba(169, 169, 169, 0.39);
    padding: 1px;
    text-decoration: underline;
}

#extra {
    background-color: #84e4a9;
    border-radius: 10px;
    box-shadow: 3px 5px 14px 2px rgba(0, 0, 0, 0.267);
    padding: 10px;
    margin: 10px;
}

ul {
    display: inline-block;
    text-align: left;
}

#pirocon {
    background-color: #027232;
    margin: -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 2px black;
}

footer {
    background-color: #025940;
    color: white;
    margin: -10px;
    padding: 3px;
    text-align: center;
}

footer > p {
    margin: 0px;
}

#viscz {
    font-weight: bold;
}

#bugdroid {
    max-width: 350px;
}